<div class = "container">
  <div class = "row">
    <div class = "col">

      <div class = "input-group input-group-lg flex-nowrap">
        <span class = "input-group-text">Name</span>
        <input (keyup) = "check($event)" class = "form-control">
      </div>

      <ul class = "pt-3" *ngIf = "filteredStudents.length > 0">
        <ng-container *ngFor = "let values of filteredStudents">
          <li>{{values.name}}</li>
        </ng-container>
      </ul>

      <div class = "pt-5" *ngIf = "emptySearchBar >= 1 && enteredValue.length > 0">
        <div class = "alert alert-danger">The name you are searching for doesnt exist!</div>
      </div>
      <div class = "pt-5" *ngIf = "enteredValue == '' && emptySearchBar == 0">
        <div class = "alert alert-info">Please enter a name in the searchbar!</div>
      </div>
    </div>
  </div>
</div>
