<div class = "container pt-3">


<button class = "btn" type = button (click) = "goBack()">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
  </svg>
</button>


<div class = "row d-flex justify-content-center">

  <div class = "col-lg-5 col-md-9 col-sm-10 col-xs-10">
  <table class = "table" id = "table1">
    <thead>
    <tr>
      <th>Name</th>
      <th>IDDEP</th>
    </tr>
    </thead>
    <tr *ngFor = "let values of filterdStaff">
      <td>{{values.nameMem}}</td>
      <td>{{values.idDep}}</td>
    </tr>
  </table>
  </div>
</div>
</div>
