table{
  border-color: #2F3E46;
}

thead>tr>th{
  background-color: #2F3E46;
  color: #CAD2C5;
}
tr:nth-child(odd){
  background-color: #00ff92;
  color: black
}

th, td{
  padding: 15px;
  width: 20%;
}
